<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Characters/Baby_Yoshi_Egg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {500, 599}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {500, 599}}</string>
			<key>sourceSize</key>
			<string>{500, 599}</string>
		</dict>
		<key>Characters/Character Boy.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 904}, {50, 85}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {50, 85}}</string>
			<key>sourceSize</key>
			<string>{50, 85}</string>
		</dict>
		<key>Characters/Character Cat Girl.png</key>
		<dict>
			<key>frame</key>
			<string>{{53, 904}, {50, 85}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {50, 85}}</string>
			<key>sourceSize</key>
			<string>{50, 85}</string>
		</dict>
		<key>Characters/Character Horn Girl.png</key>
		<dict>
			<key>frame</key>
			<string>{{157, 904}, {50, 85}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {50, 85}}</string>
			<key>sourceSize</key>
			<string>{50, 85}</string>
		</dict>
		<key>Characters/Character Pink Girl.png</key>
		<dict>
			<key>frame</key>
			<string>{{209, 860}, {50, 85}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {50, 85}}</string>
			<key>sourceSize</key>
			<string>{50, 85}</string>
		</dict>
		<key>Characters/Character Princess Girl.png</key>
		<dict>
			<key>frame</key>
			<string>{{105, 904}, {50, 85}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {50, 85}}</string>
			<key>sourceSize</key>
			<string>{50, 85}</string>
		</dict>
		<key>Characters/Maroon_Baby_Yoshi_Egg.png</key>
		<dict>
			<key>frame</key>
			<string>{{503, 1}, {500, 599}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {500, 599}}</string>
			<key>sourceSize</key>
			<string>{500, 599}</string>
		</dict>
		<key>Characters/nest.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 602}, {300, 197}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 197}}</string>
			<key>sourceSize</key>
			<string>{300, 197}</string>
		</dict>
		<key>Characters/wg_vine.png</key>
		<dict>
			<key>frame</key>
			<string>{{200, 602}, {256, 256}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {256, 256}}</string>
			<key>sourceSize</key>
			<string>{256, 256}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>Characters.png</string>
	</dict>
</dict>
</plist>
