<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>object_gems/Gem-Blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 20}, {89, 119}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {89, 119}}</string>
			<key>sourceSize</key>
			<string>{89, 119}</string>
		</dict>
		<key>object_gems/Pearl.png</key>
		<dict>
			<key>frame</key>
			<string>{{92, 20}, {116, 115}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {116, 115}}</string>
			<key>sourceSize</key>
			<string>{116, 115}</string>
		</dict>
		<key>object_gems/Shadow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {188, 17}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {188, 17}}</string>
			<key>sourceSize</key>
			<string>{188, 17}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>textureFileName</key>
		<string>object_gems.png</string>
	</dict>
</dict>
</plist>
