<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>object_gems/Gem-Blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 37}, {178, 239}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {178, 239}}</string>
			<key>sourceSize</key>
			<string>{178, 239}</string>
		</dict>
		<key>object_gems/Pearl.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 278}, {232, 231}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {232, 231}}</string>
			<key>sourceSize</key>
			<string>{232, 231}</string>
		</dict>
		<key>object_gems/Shadow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {376, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {376, 34}}</string>
			<key>sourceSize</key>
			<string>{376, 34}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>object_gems.png</string>
	</dict>
</dict>
</plist>
